<div class="container-fluid py-4">
  <!-- Header -->

  <div class="page-header d-flex justify-content-between align-items-center mb-4">
    <div>
      <h2 class="fw-bold mb-1">Create New Task</h2>

      <p class="text-muted mb-0">Create and assign a new task to your team members.</p>
    </div>
  </div>

  <div class="row">
    <!-- Left -->

    <div class="col-lg-8">
      <div class="card border-0 shadow-sm mb-4">
        <div class="card-header bg-white">
          <h5 class="mb-0">Task Information</h5>
        </div>

        <div class="card-body">
          <div class="mb-4">
            <label class="form-label"> Task Title </label>

            <input class="form-control" placeholder="Enter task title" />
          </div>

          <div class="mb-4">
            <label class="form-label"> Description </label>

            <textarea rows="8" class="form-control" placeholder="Describe this task..."></textarea>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label class="form-label"> Start Date </label>

              <input type="date" class="form-control" />
            </div>

            <div class="col-md-6">
              <label class="form-label"> Due Date </label>

              <input type="date" class="form-control" />
            </div>
          </div>
        </div>
      </div>

      <!-- Attachments -->
<!-- 
      <div class="card border-0 shadow-sm">
        <div class="card-header bg-white">
          <h5 class="mb-0">Attachments</h5>
        </div>

        <div class="card-body">
          <div class="upload-box">
            <i class="bi bi-cloud-arrow-up"></i>

            <h5>Upload Files</h5>

            <p class="text-muted">Drag & Drop files here or browse.</p>

            <button class="btn btn-outline-primary">Browse Files</button>
          </div>
        </div>
      </div> -->
    </div>

    <!-- Right -->

    <div class="col-lg-4">
      <div class="card border-0 shadow-sm mb-4">
        <div class="card-header bg-white">
          <h5 class="mb-0">Assignment</h5>
        </div>

        <div class="card-body">
          <!-- <div class="mb-3">
            <label class="form-label"> Project </label>

            <select class="form-select">
              @for (item of projectData(); track item.id) {
                <option [value]="item.id">{{ item.name }}</option>
              }
            </select>
          </div> -->

          <div class="mb-3">
            <label class="form-label"> Assign Employee </label>

            <select class="form-select text-capitalize">
              @for (item of empData(); track item.id) {
                <option>{{ item.user.firstName }} {{item.user.lastName}}</option>
              }
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label"> Priority </label>

            <select  class="form-select">
              <option>High</option>

              <option selected >Medium</option>

              <option>Low</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label"> Status </label>

            <select class="form-select">
              <option>To Do</option>

              <option>In Progress</option>

              <option>Completed</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label"> Estimated Hours </label>

            <input type="number" class="form-control" placeholder="08" />
          </div>
        </div>
      </div>

      <!-- Notes -->

      <div class="card border-0 shadow-sm">
        <div class="card-header bg-white">
          <h5 class="mb-0">Notes</h5>
        </div>

        <div class="card-body">
          <textarea rows="6" class="form-control" placeholder="Additional notes..."></textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->

  <div class="d-flex justify-content-end gap-3 mt-4">
    <button class="btn btn-outline-secondary px-4">Cancel</button>

    <button class="btn btn-outline-primary px-4">Save Draft</button>

    <button class="btn btn-primary px-4">
      <i class="bi bi-check-circle me-2"></i>

      Create Task
    </button>
  </div>
</div>
